
textStyle {
    color: yellow !important;
    padding: 5px !important;
}

texto,
texto Text > Text:eq-of-type(0) {
    background-color: green !important;
    color: red !important;
}

virtualItemSelector:not(>:has(selectedValue)):nth(even) * {
    background-color: black !important;
    color: red !important;
    font-weight: bold !important;   
}