/*

  textStyle: "co-yellow pa-5 !important",
  "texto, texto Text>Text:eq-of-type(0)": "bac-green co-red textStyle-!important",
  "virtualItemSelector:not(>:has(selectedValue)):nth(even) *": x => x.baC("black").co("white").foW("bold").importantAll()

  */
textStyle {
    color: yellow !important;
    padding: 5px !important;
}

texto,
texto Text > Text:eq-of-type(0) {
    background-color: green !important;
    color: red;
}

virtualItemSelector:not(>:has(selectedValue)):nth(even) *{
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;   
}